In [0]:
#@title Default title text
import numpy as np
import tensorflow as tf

tf.logging.set_verbosity(tf.logging.ERROR)

celsius_q    = np.array([-40, -10,  0,  8, 15, 22,  38], dtype=float)
fahrenheit_a = np.array([-40,  14, 32, 46, 59, 72, 100], dtype=float)

# for i, c in enumerate(celsius_q):
#   print("{}     = {}".format(c, fahrenheit_a[i]))
  
l0 =  tf.keras.layers.Dense(units = 1, input_shape = [1]);
model = tf.keras.Sequential([
  l0
]);

model.compile(loss="mean_squared_error",
              optimizer=tf.keras.optimizers.Adam(0.1))

history = model.fit(celsius_q, fahrenheit_a, epochs=500, verbose=True)

In [13]:
val = model.predict([100.00])
print(val)

# internal variables
print(l0.get_weights())

[[211.33833]]
[array([[1.8201882]], dtype=float32), array([29.319515], dtype=float32)]